body {
  margin: 0;
} 
main {
  display: flex;
  flex: column;
}
article img {
  max-width: 30%;
}
.img-right {
  float: right;
  margin-left: 30px;
}
.img-left {
  float: left;
  margin-right: 30px;
}
header h1 {
  padding: 10px;
  background-color: red;
  margin: 0;
}
ul {
  display: flex;
  gap: 200px;
  background-color: aquamarine;
  margin: 0;
}
ul li {
  margin-right: 30px;
  list-style-type: none;  
}
ul li h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}